---
layout: main
<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
---

    <div>
        <a id="Home"></a>
        <div class="bs-example">
            <div id="myCarousel" class="carousel slide" data-interval="5000" data-ride="carousel">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li class="slide-one active"></li>
                    <li class="slide-two"></li>
                    <li class="slide-three"></li>
                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="active item" style="background-image: url('Images/slide1.jpg'); max-width:100%;height:auto;">
                        <div class="wow bounceInDown center animated" data-wow-delay="100ms" data-wow-iteration="1" data-wow-duration="3s" style="visibility: visible; -webkit-animation-duration: 3s; -webkit-animation-delay: 200ms; -webkit-animation-iteration-count: infinite;">
                            <h2>Live</h2>
                        </div>
                        <div class="carousel-caption">
                            <div class="wow slideInRight">
                                <h3>Live life to the fullest</h3>
                            </div>
                            <div class="wow slideInLeft">
                                <p>Live Laugh Love</p>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="background-image: url('Images/slide2.jpg'); max-width:100%;height:auto;">
                        <div class="wow bounceInDown center animated" data-wow-delay="100ms" data-wow-iteration="1" data-wow-duration="3s" style="visibility: visible; -webkit-animation-duration: 3s; -webkit-animation-delay: 200ms; -webkit-animation-iteration-count: infinite;">
                            <h2>Laugh</h2>
                        </div>
                        <div class="carousel-caption">
                            <div class="wow slideInRight">
                                <h3>Explore the world</h3>
                            </div>
                            <div class="wow slideInLeft">
                                <p>Live Laugh Love</p>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="background-image: url('Images/slide3.jpg'); max-width:100%;height:auto;">
                        <div class="wow bounceInDown center animated" data-wow-delay="100ms" data-wow-iteration="1" data-wow-duration="3s" style="visibility: visible; -webkit-animation-duration: 3s; -webkit-animation-delay: 200ms; -webkit-animation-iteration-count: infinite;">
                            <h2>Love</h2>
                        </div>
                        <div class="carousel-caption">
                            <div class="wow slideInRight">
                                <h3>Optimism is key</h3>
                            </div>
                            <div class="wow slideInLeft">
                                <p>Live Laugh Love</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="carousel-control right">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
            <div class="wow bounceInUp">
                <main>



        <a id="Gallery"></a>
        <div class="wow slideInRight">
            <div class="row gallary">
                <h3>Gallery At Glance</h3>
                 <iframe src="Flip_turn/index.html" height="650" style="border: 0px; width:100%;"></iframe>
            </div>
        </div>



            <a id="Travel"></a>
            <div class="row" id="WhatWeOffer">
                <div class="container">
                    <div class="wow slideInLeft">
                        <div class="row">
                                <div class="product_head">Latest Posts</div>


                            <div class="col-md-4 col-sm-6 products ">
                                <h2>
                                    <a><span class="glyphicon glyphicon-stats"></span></a>&nbsp;&nbsp;Product 1</h2>
                                <p> 

                                  <ul class="post-list">
                                    {% for post in site.posts %}
                                      <li>
                                        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                                        <h3>
                                          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                                        </h3>
                                      </li>
                                    {% endfor %}
                                  </ul>

                                    Maxime, quis, animi, ad quasi adipisci suscipit alias iste reprehenderit ea placeat nulla commodi nobis magnam provident veniam earum odit eveniet possimus aut voluptatum dolorum culpa necessitatibus facere totam quisquam. Ipsam.
                                </p>
                            </div>

                            <div class="col-md-4 col-sm-6 products ">
                                <h2>
                                    <a><span class="glyphicon glyphicon-road"></span></a>&nbsp;&nbsp;Product 2</h2>
                                <p>
                                    <ul class="post-list">
                                    {% for post in site.posts %}
                                      <li>
                                        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                                        <h3>
                                          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                                        </h3>
                                      </li>
                                    {% endfor %}
                                    </ul>


                                    Maxime, quis, animi, ad quasi adipisci suscipit alias iste reprehenderit ea placeat nulla commodi nobis magnam provident veniam earum odit eveniet possimus aut voluptatum dolorum culpa necessitatibus facere totam quisquam. Ipsam.
                                </p>
                            </div>

                            <div class="col-md-4 col-sm-6 products  ">
                                <h2>
                                    <a><span class="glyphicon glyphicon-refresh"></span></a>&nbsp;&nbsp;Product 3</h2>
                                <p>
                                    <ul class="post-list">
                                    {% for post in site.posts %}
                                      <li>
                                        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                                        <h3>
                                          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                                        </h3>
                                      </li>
                                    {% endfor %}
                                    </ul>

                                    Maxime, quis, animi, ad quasi adipisci suscipit alias iste reprehenderit ea placeat nulla commodi nobis magnam provident veniam earum odit eveniet possimus aut voluptatum dolorum culpa necessitatibus facere totam quisquam. Ipsam.
                                </p>
                            </div>

                            <div class="col-md-4 col-sm-6 products ">
                                <h2>
                                    <a><span class="glyphicon glyphicon-fire"></span></a>&nbsp;&nbsp;Product 4</h2>
                                <p>

                                    <ul class="post-list">
                                    {% for post in site.posts %}
                                      <li>
                                        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                                        <h3>
                                          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                                        </h3>
                                      </li>
                                    {% endfor %}
                                    </ul>

                                    Maxime, quis, animi, ad quasi adipisci suscipit alias iste reprehenderit ea placeat nulla commodi nobis magnam provident veniam earum odit eveniet possimus aut voluptatum dolorum culpa necessitatibus facere totam quisquam. Ipsam.
                                </p>
                            </div>

                            <div class="col-md-4 col-sm-6 products  ">
                                <h2>
                                    <a><span class="glyphicon glyphicon-bullhorn"></span></a>&nbsp;&nbsp;Product 5</h2>
                                <p>
                                    <ul class="post-list">
                                    {% for post in site.posts %}
                                      <li>
                                        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                                        <h3>
                                          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                                        </h3>
                                      </li>
                                    {% endfor %}
                                    </ul>

                                    Maxime, quis, animi, ad quasi adipisci suscipit alias iste reprehenderit ea placeat nulla commodi nobis magnam provident veniam earum odit eveniet possimus aut voluptatum dolorum culpa necessitatibus facere totam quisquam. Ipsam.
                                </p>
                            </div>

                            <div class="col-md-4 col-sm-6 products  ">
                                <h2>
                                    <a><span class="glyphicon glyphicon-time"></span></a>&nbsp;&nbsp;Product 6</h2>
                                <p>
                                    <ul class="post-list">
                                    {% for post in site.posts %}
                                      <li>
                                        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                                        <h3>
                                          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                                        </h3>
                                      </li>
                                    {% endfor %}
                                    </ul>

                                    Maxime, quis, animi, ad quasi adipisci suscipit alias iste reprehenderit ea placeat nulla commodi nobis magnam provident veniam earum odit eveniet possimus aut voluptatum dolorum culpa necessitatibus facere totam quisquam. Ipsam.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <a id="About"></a>
        <div class="contact_us">
            <div class="wow swing center animated">
                <h3>Get In Touch</h3>
                <address>
                    14-15, Infosquare complex<br>
                    Near chandani chowk<br>
                    Pune- 411038<br>
                </address>
            </div>
        </div>
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3155.9492104524425!2d-122.16471299999999!3d37.72087!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f8f8dddf00505%3A0xdb6aa8d322552317!2s1328+Orchard+Ave%2C+San+Leandro%2C+CA+94577!5e0!3m2!1sen!2sus!4v1435021832086"  height="400"  style="border:0px; width:100%; "></iframe>

